<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout :: common-head">
        <title>Yet another Pet Store</title>        
    </th:block>
</head>

<body>
    <header th:replace="layout :: header-and-nav">
        <h1>YAPS</h1>
    </header>
   
    <main class="container">
    <h2 class="title is-2">[[#{category.title}]] [[${category.name}]]</h2>
        <div class="block">[[${category.description}]]</div>
    <h3 class="title is-3">[[#{products.included}]] [[${category.name}]]</h3>
    
    <div class="box">
        <section class="section" th:each="p : ${products}">
            <h4 class="title is-4"><a href="#" th:href="@{/product/view(id=${p.id})}">[[${p.name}]]</a></h4>
            
            <p class="content">[[${p.description}]]</p>
            
        </section>
    </div>
    </main>
    <th:block th:replace="layout :: footer-and-js">

    </th:block>
</body>

</html>